.main-container {
    width          : 100;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 0.5em 1em 0.5em 1em;
    height         : 100vh;

    background: rgba(63, 94, 251, 0.9);
    background: linear-gradient(32deg, rgba(63, 94, 251, 0.9) 0%, rgba(252, 70, 107, 0.9) 100%);

    .video-section-container {
        width              : 64%;
        height             : 99%;
        // background-color: green;

        display        : flex;
        flex-direction : column;
        justify-content: space-around;

        .video-url-container {
            display            : flex;
            align-content      : flex-start;
            width              : 100%;
            min-height         : 6%;
            // background-color: black;
            padding            : 0.5em;

            // border       : 1px solid rgba(0, 0, 0, 0.2);
            // border-radius: 5px;

            .video-url-input-form {
                width  : 100%;
                display: flex;
                justify-content: space-between;

                .video-url-input {
                    width           : 80%;
                    height          : 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                    color           : white;
                    border          : rgba(255, 255, 255, 0.4);
                }

                .video-url-input::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                }

                .video-url-submit-button {
                    width : 18%;
                    margin: auto;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    color : white;
                }

                .video-url-submit-button:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    color           : black;
                    font-weight     : bolder;
    
                    -webkit-box-shadow: 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow   : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                    box-shadow        : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                }
            }
        }

        .video-container {
            padding            : 2%;
            width              : 100%;
            height             : 89%;
            text-align         : center;
            // background-color: gray;

            // border       : 1px solid rgba(0, 0, 0, 0.2);
            border-radius   : 5px;

            /* Sonradan eklenen kısım */
            -webkit-box-shadow: 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow   : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
            box-shadow        : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
            margin            : 1em auto;
            padding-bottom    : 2em;
            /* Sonradan eklenen kısım*/


            .video-container-placeholder {
                width    : 75%;
                margin   : 10em auto;
                color    : rgba(255, 255, 255, 0.2);
                font-size: 2em;
            }

            .react-player {
                margin: 0em auto;
            }
        }

        .video-control-container {
            width              : 100%;
            height             : 5%;
            border-radius      : 5px;
            // background-color: yellow;
            display            : flex;
            flex-direction     : row;
            background-color   : rgba(0, 0, 0, 0.3);

            .video-control-button-group-container {
                width              : 8%;
                padding            : 0.7em 0.3em 0.3em 0.3em;
                // background-color: aqua;

                .control-button {
                    margin: auto;
                    border: none;
                    color : white;
                }

                .control-button:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    color           : black;
                    font-weight     : bolder;

                    -webkit-box-shadow: 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow   : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                    box-shadow        : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                }
            }

            .video-control-seek-slider-container {
                margin            : -0.6em 0;
                padding           : 0% 2% 0% 1%;
                width             : 92%;
                //background-color: beige;
            }
        }
    }

    .vertical-line {
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        margin: 0% 0% 3.2% 0%;
    }

    .message-section-container {
        width              : 35%;
        height             : 99%;
        // background-color: blue;

        display        : flex;
        flex-direction : column;
        justify-content: space-between;

        .user-list-button-container {
            display           : flex;
            align-content     : center;
            width             : 100%;
            height            : 6%;
            //background-color: pink;
            padding           : 2%;

            // border       : 1px solid rgba(0, 0, 0, 0.2);
            // border-radius: 5px;

            .online-users-modal-header {
                text-align: center;
            }

            /*
            .user-list-button {
                width   : 50%;
                margin  : auto;
                //height: 50%;
            }*/
            .user-list-button {
                width : 48%;
                margin: auto;
                border: 1px solid rgba(255, 255, 255, 0.2);
                color : white;
            }

            .user-list-button:hover {
                background-color: rgba(255, 255, 255, 0.4);
                color           : black;
                font-weight     : bolder;

                -webkit-box-shadow: 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                -moz-box-shadow   : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                box-shadow        : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
            }

            .clear-messages-button {
                width : 48%;
                margin: auto;
                border: 1px solid rgba(255, 255, 255, 0.2);
                color : white;
            }

            .clear-messages-button:hover {
                background-color: rgba(255, 0, 0, 0.4);
                color           : white;
                font-weight     : bolder;

                -webkit-box-shadow: 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                -moz-box-shadow   : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
                box-shadow        : 0px 0px 28px -5px rgba(0, 0, 0, 0.5);
            }

        }

        .messages-container {
            padding         : 2%;
            width           : 98%;
            height          : 90%;
            text-align      : center;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius   : 5px;
            margin          : 0% 1% 1% 1%;
            overflow-y      : auto;

            // border       : 1px solid rgba(0, 0, 0, 0.2);
            // border-radius: 5px;

            .messages-placeholder {
                width    : 75%;
                margin   : 12em auto;
                color    : rgba(255, 255, 255, 0.2);
                font-size: 2em;
            }
        }

        .messages-container::-webkit-scrollbar {
            width: 0.8em;
        }

        .messages-container::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
            border-radius     : 10px;
        }

        .messages-container::-webkit-scrollbar-thumb {
            // background-color: rgba(0, 0, 0, 0.4);
            // background-color: rgba(255,255,255,0.5);
            background-color   : rgba(0, 0, 0, 0.3);
            border-radius      : 5px;
        }

        .message-input-container {
            padding            : 0% 1% 0% 1%;
            width              : 100%;
            height             : 5%;
            // background-color: orange;

            // border       : 1px solid rgba(0, 0, 0, 0.2);
            // border-radius: 5px;

            .message-input-form {
                height: 100%;

                .message-input {
                    height          : 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                    color           : white;
                    border          : rgba(255, 255, 255, 0.4);
                }

                .message-input::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                }
            }

        }

    }
}