.own-message {
    width: 100%;
    padding       : 0.2em;
    margin-bottom : 2px;
    display       : flex;
    flex-direction: row;
    color         : white;

    .username {
        overflow   : hidden;
        word-break : break-all;
        text-align: center;
        font-size: $SMALL;
        max-width: 18%;
        font-weight: 400;
        margin-top: $SMALLEST; 

        .initial {
            border-radius: 10%;
            background-color: rgba(0, 0, 0, 0.3);

            .background-tint {
                z-index: 1;
                background-color: rgba(255,255,255,.5); // Tint color
                background-blend-mode: multiply;
            }
            
            .overlay {
                z-index: 1;
                height: 100%;
                width: 100%;
                position: fixed;
                overflow: auto;
                top: 0px;
                left: 0px;
                background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
            }
        }
    }

    .message-body {
        display    : flex;
        min-width      : 18%;
        max-width: 90%;
        min-height: 3em;
        text-align : start;
        margin-left: 10px;
        overflow   : hidden;
        word-break : break-all;
        flex-direction: column;
        font-size: $SMALL;
        background-color: rgba(0, 0, 0, 0.3);
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        align-content: space-between;
        border-radius: 0em 0.8em 0.8em 0.8em;

        .message-text {
            width: 100%;
            padding-right: 1em;
        }

        .time-container {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            padding-right: 1em;
            font-size: 0.8em;
        }
    }

}

.other-message {
    display       : flex;
    flex-direction: row;

    .username {
        width: 10%;
    }

    .message-body {
        width: 80%;
    }

    .time {
        width: 10%;
    }
}